@import "./reset.scss";
$rem:1rem/32;
$spotColor:#f7d542;

.container{
	margin:0 auto;
	position:relative;
	min-height:100%;
	overflow:hidden;
}
.qrcode,
.wechat-top-bar{
	display:none;
}
//pc 适配
.pc{
  font-size: 16px!important;
  .container{
  	    background-image: url(../img/pc_bg.jpg);
  	background-color: transparent;
	    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
      .content{
          width: 320px;
          height: 524px;
          overflow-y:auto;
          position: relative;
          top: 144px;
    	  left: 25px;
      }
  }
  .wechat-top-bar{
  	background: #000;
  	text-align: center;
  	color:#fff;
  	display: block;
  	width: 320px;
  	height:40px;
  	line-height:40px;
  	position:absolute;
  	top:106px;
  	left: 25px;
  }
  .phone-wrapper{
  	width:372px;
  	height: 764px;
  	background:url(../img/phone.png) no-repeat;
  	background-size:100% 100%;
  	position:absolute;
  	left:50%;
  	top:50%;
  	transform:translate(-50%,-50%);
  }
  .qrcode{
  	display: block;
  	background:#fff;
  	padding:10px;
  	position: absolute;
	right: -180px;
	font-size:12px;
	color:#666;
	text-align: center;
	border:1px solid #eaeefb;
	border-radius:4px;
	box-shadow:0 0 1px  #eaeefb;
  	&:before{
  		content:"";
  		width:150px;
  		height: 150px;
  		display: block;
  		background:url(../img/game_channle_1.png);
  		background-size: cover;
  	}
  }
}

.gl-cover{
	position: absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.gl-start-cover{
	background-image:url(../img/index_cover.jpg);
}
//首页人物
.index-wrapper{
	position:absolute;
	bottom:0;
	height:$rem*840;
	left:50%;
	transform:translate(-50%,0);
	width:100%;
}

.index-inner{
	position:relative;
	bottom:0;
	width:$rem*556;
	margin:0 auto;
}
.index-title{
	width:$rem*556;
	height:$rem*309;
	background-image:url(../img/index_cover_title.png);
	background-size:100% 100%;
}
.index-person{
	width:100%;
	height:$rem*730;
	background-image:url(../img/index_cover_person.png);
	background-size:100% 100%;
	position:absolute;
	bottom:0;
}
.start-btn-wrapper{
	position:absolute;
	bottom:$rem*100;
	left:50%;
	transform: translate(-50%,0);
	width:$rem*276;
	height:$rem*168;
	&:before{
		-webkit-animation: from-top2Bottom .85s 0s infinite cubic-bezier(.21, .53, .56, .8) alternate;
		        animation: from-top2Bottom .85s 0s infinite cubic-bezier(.21, .53, .56, .8) alternate; 
		content: "";
		display: block;
		width:$rem*62;
		height:$rem*61;
		background:url(../img/start_btn_flag.png) no-repeat;
		background-size: contain;
		margin-left:$rem*50;
	}
}
.start-btn{
	width:$rem*282;
	height:$rem*157;
	background:url(../img/start_btn.png) no-repeat;
	background-size: contain;
	outline:none;
}

.person-select-wrapper{
	background-image:url(../img/index_select_cover.jpg);
}
.person-scene{
	position:absolute;
	top:$rem*200;
	left:$rem*80;
	text-align:center;
	width:$rem*280;
}
.person-scene-right{
	top:$rem*200;
	left:$rem*360;
	width:$rem*239;
}

.person-part{
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.person-left{
	background-image:url(../img/index_select_female.png);
	width:$rem*295;
	height:$rem*493;
	margin-bottom:$rem*15;
}
.person-right{
	background-image:url(../img/index_select_male.png);
	width:$rem*239;
	height:$rem*493;
	margin-bottom:$rem*15;
}
.gl-checkbox{
	input{
		display: none;
		&:checked + span{
			background-position:0 0;
		}
	}
	&>span{
		height:$rem*38;
		width:$rem*38;
		display: inline-block;
		background-image:url(../img/index_checkbox.png);
		background-position:$rem*-44 0;
		background-size:$rem*81 $rem*38;
		background-repeat:no-repeat;
		margin:0 auto;
	}
}
.select-next-btn{
	width:$rem*228;
	height:$rem*72;
	display:block;
	background:none;
	background-image:url(../img/index_next_bg.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	position: absolute;
	top: $rem*765;
	left: 50%;
	transform:translate(-50%,0);
}
.gl-centerTop-logo{
	position:absolute;
	top:$rem*30;
	left:50%;
	transform:translateX(-50%);
	width:$rem*130;
	height:$rem*104;
	background:url(../img/logo-1.png) no-repeat;
	background-size:100% auto;
}
.gl-leftTop-logo{
	position:absolute;
	top:$rem*50;
	left:$rem*30;
	width:$rem*140;
	height:$rem*140;
	background:url(../img/logo-1.png) no-repeat;
	background-size:100% auto;
}
.gl-select-hint{
	position:absolute;
	top:$rem*45;
	right:$rem*35;
	width:$rem*190;
	height:$rem*174;
	img{
		display:block;
		width:100%;
	}
}
//明星距离
.gl-distance{
	position:absolute;
	text-align:center;
	bottom:$rem*90;
	left:50%;
	transform:translate(-50%,0);
	color:#fff;
	font-size:$rem*18;
	p{
		margin-top:$rem*10;
	}
}
.gl-rule-wrapper{
	background-image:url(../img/rule.png);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width:$rem*415;
	height:$rem*60;
	position:relative;
	&>.slider{
		width:40%;
		position:absolute;
		height: $rem*20;
		left:$rem*4;
		top:$rem*5;
		background:#ff4600;
		transition: 0.6s width;
	}
	&>.fire{
		position:absolute;
		left:40%;
		top:$rem*-20;
		width:$rem*39;
		height: $rem*56;
		background-image:url(../img/fire.png);
		background-repeat:no-repeat;
		background-size:100% 100%;
		transition: 0.6s left;
	}
	&>.headimg{
		position:absolute;
		right:$rem*-45;
		top:$rem*-20;
		width:$rem*42;
		height: $rem*60;
		background-image:url(../img/headimg.png);
		background-repeat:no-repeat;
		background-size:100% 100%;
	}
}

.modal-mask{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.7);
}
.modal{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;

}
.modal-dialog{
	border-radius:$rem*16;
	position:absolute;
	width:$rem*430;
	height:$rem*590;
	box-shadow:$rem*20 $rem*20 rgba(255,255,255,0.17);
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#fff;
	&-hd{
		background:#f7931e;
		padding: $rem*60 0;
		text-align:center;
		font-size: $rem*28;
		color:#fff;
		border-top-right-radius:$rem*16;
		border-top-left-radius:$rem*16;
	}
	&-bd{
		padding:$rem*30 $rem*60;
		.gl-checkbox{
			span{
				vertical-align: $rem*-8;
			}
		}
		ul > li{
			margin-bottom: $rem*35;
		}
		.gl-submit{
			margin:0 auto;
			display: block;
			width:$rem*220;
			height: $rem*60;
			background-image:url(../img/index_button.png);
			background-repeat:no-repeat;
			background-size:100% 100%;
		}
	}
}
.dialogLine{
	div{
		border-radius:$rem*3;
		background:#fff;
		position:absolute;
		height:$rem*6;
	}
	div:nth-of-type(1){
		width:$rem*40;
		top:-$rem*30;
		right:$rem*54;
	}
	div:nth-of-type(2){
		width:$rem*260;
		top:-$rem*16;
		right:$rem*20;
	}
	div:nth-of-type(3){
		width:$rem*260;
		bottom:-$rem*10;
		left:$rem*32;
		box-shadow:$rem*20 $rem*14 $rem*0.5 rgba(255,255,255,0.17);
	}
	div:nth-of-type(4){
		width:$rem*6;
		height:$rem*70;
		bottom:$rem*30;
		left:-$rem*13;
	}
	div:nth-of-type(5){
		width:$rem*6;
		height:$rem*150;
		top:$rem*222;
		right:-$rem*13;
		box-shadow:$rem*14 $rem*23 $rem*0.5  rgba(255,255,255,0.17);
	}

}
.subject-tooltip{
	color:#fff;
	padding-top:$rem*15;
	.tooltip{
		width:$rem*70;
		height:$rem*27;
		line-height:$rem*27;
		text-align:center;
		box-shadow: 0 0 $rem*15 #ded6b0;
		font-size:$rem*15;
		background:#ff7a1b;
		margin:0 auto;
		border-radius:$rem*10;
	}
	.tooltip.active{
		width:$rem*113;
		height:$rem*43;
		line-height:$rem*43;
		font-size:$rem*17;
		background:#ed1c24;
	}
}
.tooltip-style1{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translate(-50%,100%);
	.tooltip{
		position:relative;
		&:before{
		   content:"";
		    position:absolute;
		   top:0;
		   left:$rem*20;
		   transform:translateY(-100%);
		    width: 0;
		    height: 0;
		    border-bottom: $rem*10 solid #ff7a1b;
		    border-right: $rem*10 solid transparent;
		}
	}
	.tooltip.active{
		&:before{
		   content:"";
		    left:$rem*30;
		    border-bottom: $rem*18 solid #ed1c24;
		    border-right: $rem*18 solid transparent;
		}
	}
}
.tooltip-style2{
	position:absolute;
	left:50%;
	bottom:0;
	transform:translate(-50%,100%);
	.tooltip{
		position:relative;
		&:before{
		   content:"";
		    position:absolute;
		   top:0;
		   right:$rem*20;
		   transform:translateY(-100%);
		    width: 0;
		    height: 0;
		    border-bottom: $rem*10 solid #ff7a1b;
		    border-left: $rem*10 solid transparent;
		}
	}
	.tooltip.active{
		&:before{
		   content:"";
		    right:$rem*30;
		    border-bottom: $rem*18 solid #ed1c24;
		    border-left: $rem*18 solid transparent;
		}
	}
}
.tooltip-style3{
	position:absolute;
	left:50%;
	top:0;
	transform:translate(-50%,-100%);
	padding-bottom:$rem*15;
	padding-top:0;
	.tooltip{
		position:relative;
		&:before{
		   content:"";
		    position:absolute;
		   bottom:0;
		   left:$rem*20;
		   transform:translateY(100%);
		    width: 0;
		    height: 0;
		    border-top: $rem*10 solid #ff7a1b;
		    border-left: $rem*10 solid transparent;
		}
	}
	.tooltip.active{
		&:before{
		   content:"";
		    left:$rem*30;
		    border-top: $rem*18 solid #ed1c24;
		    border-left: $rem*18 solid transparent;
		}
	}
}
.tooltip-style4{
	position:absolute;
	left:50%;
	top:0;
	transform:translate(-50%,-100%);
	padding-bottom:$rem*15;
	padding-top:0;
	.tooltip{
		position:relative;
		&:before{
		   content:"";
		    position:absolute;
		   bottom:0;
		   right:$rem*20;
		   transform:translateY(100%);
		    width: 0;
		    height: 0;
		    border-top: $rem*10 solid #ff7a1b;
		    border-right: $rem*10 solid transparent;
		}
	}
	.tooltip.active{
		&:before{
		   content:"";
		    right:$rem*30;
		    border-top: $rem*18 solid #ed1c24;
		    border-right: $rem*18 solid transparent;
		}
	}
}

//弹层效果
.fade-in{
	&-enter-active,
	&-leave-active{
		transition: opacity .8s
	}
	&-enter,
	&-leave-active {
		opacity:0;
		// transform: scale(0);
	}
}

.person-body{
	position:absolute;
	background-image:url(../img/person.png);
	background-size:$rem*693 $rem*760;
	height:$rem*760;
	width:$rem*382;
	top:$rem*80;
	left:$rem*167;
	//180
	
	
}
.organ{
	position:absolute;
	&.mouth{
		top:$rem*188;
		left:$rem*280;
	}
	&.belly{
		top:$rem*510;
		left: $rem*295;
	}
	&.intestine{
		top:$rem*435;
		left:$rem*220;
	}
	&.arm{
		top: $rem*464;
		left: $rem*440;
	}
}

.gl-subject{
	background-image:url(../img/index_select_cover2.jpg);
	&:before{
		content:'';
		position:absolute;
		// z-index:1;
		top:$rem*160;
		left:0;
		width:100%;
		height:$rem*630;
		background-image:url(../img/female_bg.png);
		background-repeat:no-repeat;
		background-size:100% auto;
	}
}
.male{
	.person-body{
		width:$rem*330;
		background-position:$rem*-362 0;
		left:50%;
		transform:translate(-50%,0);
	}
	.gl-subject{
		&:before{
			content:'';
			position:absolute;
			// z-index:1;
			top:$rem*233;
			height:$rem*560;
			background-image:url(../img/man_bg.png);
		}
	}
	.organ{
		position:absolute;
		&.mouth{
			top:$rem*218;
			left:$rem*250;
		}
		&.belly{
			top:$rem*552;
			left: $rem*208;
		}
		&.intestine{
			top:$rem*470;
			left:$rem*310;
		}
		&.arm{
			top: $rem*524;
			left: $rem*430;
		}
	}
}
.result-bg{
	background:url(../img/result_bg.jpg) #2fa933;
	background-repeat:no-repeat;
	background-size:100% auto;
	// height:$rem*980;
	text-align:center;
	padding-top:$rem*86;
	padding-bottom:$rem*25;
}
.result-status{
	background-image:url(../img/female_01.png);
	background-repeat:no-repeat;
	background-size:100% auto;
	height:$rem*619;
	min-height:100%;
	// margin-bottom:$rem*20;
}
.result-descption{
	// background:#72bb72;
	font-size:$rem*21;
	line-height:$rem*26;
	color:#fff;
	width:$rem*520;
	margin:-$rem*10 auto $rem*20;
	min-height:$rem*130;
}
.result-img-item{
	display:block;
	width:100%;
	height:auto;
}

.result-btn-box{
 	width:$rem*546;
 	padding-left:$rem*15;
 	margin:$rem*20 auto $rem*70;

	white-space: nowrap;
}
.result-btn01{
	display:inline-block;
	padding-right:$rem*21;
	height:$rem*85;
	box-sizing:border-box;
	// padding-bottom:$rem*20;
	line-height:$rem*70;
	font-size:$rem*25;
	color:#fff;
	width:$rem*250;
	background:url(../img/btn_01.png) no-repeat;
	color:#fff;
	background-size:100% 100%;
	box-sizing:border-box;
	&:nth-of-type(1){
		margin-right:$rem*50;
	}
}
.result-btn02{
	display:block;
	width:$rem*240;
	height:$rem*70;
	display:block;
	color:#fff;
	font-size:$rem*27;
	line-height:$rem*70;
	margin:$rem*5 auto $rem*35;
	background:url(../img/btn_03.png) no-repeat;
	background-size:100% 100%;
}



@keyframes from-top2Bottom{
	to{
		transform: translate(0,0);
	}
	from{
		transform: translate(-30%,-30%);
	}
}
@-webkit-keyframes from-top2Bottom{
	to{
		transform: translate(0,0);
		-webkit-transform: translate(0,0);
	}
	from{
		transform: translate(-30%,-30%);
		-webkit-transform: translate(-30%,-30%);
	}
}

@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; } }

@keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }
	30%{
		opacity: 0.9;
	}
	50%{
		opacity: 0.6;
	}
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4; }

  100% {
    opacity: 0.0; } }

.ball-scale-ripple-multiple {
  position: relative;
  width:$rem*88;
  height: $rem*88;
    .spot{
    	background: $spotColor;
    	display: inline-block;
    	width:$rem*20;
    	height: $rem*20;
    	position:absolute;
    	border-radius:50%;
    	left:50%;
    	top:50%;
    	transform: translate(-50%,-50%);
    }
	& > div:nth-child(1) {
	  -webkit-animation-delay: 0s;
	          animation-delay: 0s; }
	& > div:nth-child(2) {
	  -webkit-animation-delay: 0.4s;
	          animation-delay: 0.4s; }
	& > div:nth-child(3) {
	  -webkit-animation-delay: 0.2s;
	          animation-delay: 0.2s; }
	& > div:nth-child(4) {
	  -webkit-animation-delay: 0.6s;
	          animation-delay: 0.6s; }
	& > div {
	  -webkit-animation-fill-mode: both;
	          animation-fill-mode: both;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: $rem*80;
	  height: $rem*80;
	  border-radius: 100%;
	  border: $rem*4 solid $spotColor;
	  -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
	          animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8); 
	}
	&.over {
		.spot{
			background:#ed1c24;
		}
		& > div{
			border-color:#ed1c24;
		}
	}
}
  
