@rem:1rem/32;
*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
  font-family: PingFang SC , "微软雅黑", arial, "宋体", helvetica, verdana, sans-serif;
}
img{
  display: block;
  border: none;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #BF0000;
}
.common-page{
  height: 100%;
  width: @rem*750;
  background: url('../image/bg.jpg') no-repeat center center;
  background-size: 100% 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.page_01{
  .button-content{
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    height: @rem*250;
    .left{
      height: @rem*250;
      width: @rem*250;
      position: absolute;
      top: 0;
      left: 0;
    }
    .right{
      height: @rem*250;
      width: @rem*250;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .tuzi{
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: @rem*(750-210)/2;
    height: @rem*250;
    width: @rem*210;
    img{
      height: 100%;
    }
  }
  .timer-div{
    height: @rem*200;
    width: @rem*200;
    position: absolute;
    top: @rem*350;
    left: @rem*275;
    z-index: 8;
    text-align: center;
    color: #fff;
    .timer-number{
      font-size: @rem*110;
    }
    .timer-desc{
      font-size: @rem*36;
    }
  }
}


@keyframes bigPlaneAnimation {
  0% {
    height: 0;
    width: 0;
    top: @rem*900;
    left: @rem*700;
  }
  100% {
    height: @rem*600;
    width: @rem*750;
    top: @rem*300;
    left: 0;
    display: block;
    opacity: 1;
  }
}
/*==========*/
.play-stage{
  position: relative;
}
.material{
  position: absolute;
  transition: transform 4.3s linear;
}