* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.content {
  width: 100%;
  background: #fff;
  overflow: hidden;
}
body {
  background: #73ebe8;
  font-family: PingFangSC-Regular, Microsoft YaHei;
}
.header-img {
  display: block;
  width: 100%;
}
strong {
  font-weight: normal;
}
.video-content {
  height: 13.25rem;
  width: 100%;
  background: url("../image/1215_02.png") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  padding: 0.5625rem 0.9375rem;
}
#video {
  width: 21.625rem;
  height: 12.1875rem;
}
.play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 3.125rem;
  height: 3.125rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bottom {
  width: 100%;
  position: relative;
}
.bottom .bottom-bg {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}
.bottom .handle {
  position: absolute;
  height: 3.4375rem;
  width: 3.4375rem;
  top: 65%;
  left: 58%;
  z-index: 99;
  -webkit-animation: clickAnimation 1s ease infinite alternate;
  animation: clickAnimation 1s ease infinite alternate;
}
.bottom .handle img {
  display: block;
  height: 100%;
  width: 100%;
}
.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
}
.dialog.show {
  display: block;
}
.dialog .dialog-content {
  width: 14.0625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}
.dialog .dialog-hd {
  height: 0.78125rem;
  width: 100%;
  background: #34bdef;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.dialog .dialog-bd {
  height: 4.75rem;
  width: 100%;
  font-size: 0.875rem;
  background: #fff ;
  color: #34bdef;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.3125rem;
  padding-top: 1.09375rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.dialog .dialog-bd strong {
  font-size: 1.0625rem;
}
.dialog .dialog-bd .close {
  height: 1.5625rem;
  width: 1.5625rem;
  margin: 4.4375rem auto 0;
  -webkit-transform: translateY(1000px);
          transform: translateY(1000px);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  background: url(../image/close.png) no-repeat;
  background-size: contain;
}
.dialog.show .close {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@keyframes clickAnimation {
  from {
    height: 2.5rem;
    width: 2.5rem;
    top: 68%;
    left: 62%;
  }
  to {
    height: 3.75rem;
    width: 3.75rem;
    top: 63%;
    left: 58%;
  }
}
@-webkit-keyframes clickAnimation {
  from {
    height: 2.5rem;
    width: 2.5rem;
    top: 68%;
    left: 62%;
  }
  to {
    height: 3.75rem;
    width: 3.75rem;
    top: 63%;
    left: 58%;
  }
}
