@import "./_reset";

@rem: 1rem/32;

body {
  font-family: PingFangSC-Regular, "微软雅黑", arial, "宋体", helvetica, verdana, sans-serif;
  background: #000000;
}

img {
  width: 100%;
  display: block;
}

input::-webkit-input-placeholder {
  color: #C0A235;
  font-size: @rem*30;
}

.pc {
  width: 375px;
  position: relative;
  margin: 0 auto;
}
.container {
  position: absolute;
  width: 100%;
}
