@import "./_reset";

@rem: 1rem/32;


body {
  font-family: PingFangSC-Regular, "微软雅黑", arial, "宋体", helvetica, verdana, sans-serif;
  background: #959B99;
}

img {
  width: 100%;
  display: block;
}

a{
  text-decoration: none;
}

.pc {
  width: 375px;
  position: relative;
  margin: 0 auto;
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container-content{
  height: 100%;
  background: url('../images/lp_main_bg.png') no-repeat;
  background-size: 100% auto;
  background-position: top;
  position: relative;
  padding: @rem*19 0 0;
  box-sizing: border-box;
  .main-logo{
    width: @rem*316;
    padding-left: @rem*22;
    box-sizing: border-box;
  }
  .main-title{
    width: @rem*633;
    margin: 0 auto;
    margin-top: @rem*45;
  }
  .activity-rule{
    width: 100%;
    text-align: center;
    color: #022D86;
    font-size: @rem*28;
    margin-top: @rem*29;
  }
  .main-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;

    .main-button {
      width: 100%;
      text-align: center;
      top: 75%;
      button {
        width: @rem*636;
        height: @rem*144;
        background: url('../images/lp_main_button_bg.png') no-repeat;
        background-size: 100% auto;
        color: #ffffff;
        border: none;
        outline: none;
        p{
          margin: @rem*15 0;
          font-size: @rem*48;
        }
        p:nth-child(2) {
          font-size: @rem*24;
        }
      }
    }
    .main-desc {
      width: 100%;
      text-align: center;
      font-size: @rem*20;
      color: #022D86;
      margin-top: @rem*21;
      p{
        margin: @rem*5 0;
      }
    }
    .main-bottom-logo {
      width: @rem*654;
      padding-left: @rem*22;
      margin-bottom: @rem*19;
    }
  }
}


.rule-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .87);
  z-index: 999;
  align-items: center;
  display: none;
  .close {
    margin: 0 auto;
    width: @rem*53;
    margin-top: @rem*54;
    img {
      width: 100%;
    }
  }
  .modal-wrap{
    margin:0 auto;
  }
  .modal{
    width: @rem*638;
    background: #ffffff;
    border: @rem*1 solid #979797;
    border-radius: @rem*10;
    text-align: center;
    .modal-head{
      width: 100%;
      height: @rem*100;
      line-height: @rem*100;
      background: #E8F2F6;
      color: #022D86;
    }
    .modal-content{
      padding: @rem*45 @rem*44;
      box-sizing: border-box;
      .content-title{
        font-size: @rem*32;
        p{
          margin: @rem*10 0;
        }
      }
      .content{
        font-size: @rem*30;
        line-height: @rem*42;
        margin-top: @rem*14;
        text-align: left;
      }
    }
  }
}

