@rem:1rem/32;


*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
.content{
  width: 100%;
  background: #fff;
  overflow: hidden;
}
body{
  background: #73ebe8;
  font-family: PingFangSC-Regular,Microsoft YaHei;
}
.header-img{
  display: block;
  width: 100%;
}
strong{
  font-weight: normal;
}
.video-content{
  height: @rem*424;
  width: 100%;
  background: url("../image/1215_02.png") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
  padding:@rem*18 @rem*30;
}
#video{
  width: @rem*692;
  height: @rem*390;
}

.play-button {
  position: absolute;
  left:50%;
  top:50%;
  width:@rem*100;
  height:@rem*100;
  transform: translate(-50%,-50%);
  z-index: 99;
  user-select: none;
}

.bottom{
  width: 100%;
  position: relative;
  .bottom-bg{
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
  }
  .handle{
    position: absolute;
    height: @rem*110;
    width: @rem*110;
    top: 65%;
    left: 58%;
    z-index: 99;
    -webkit-animation: clickAnimation 1s ease infinite alternate;
    -o-animation: clickAnimation 1s ease infinite alternate;
    animation: clickAnimation 1s ease infinite alternate;
    img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.dialog{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.65);
  &.show{
    display: block;
  }
  .dialog-content{
    width: @rem*409;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
  }
  .dialog-hd{
    height: @rem*25;
    background: rgb(52, 189, 239);
    border-top-left-radius: @rem*8;
    border-top-right-radius: @rem*8;
  }
  .dialog-bd{
    height: @rem*152;
    width:100%;
    font-size: @rem*28;
    background:#fff ;
    color: rgb(52, 189, 239);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 10px;
    padding-top: @rem*35;
    border-bottom-left-radius: @rem*8;
    border-bottom-right-radius: @rem*8;
    strong{
      font-size: @rem*34;
    }
    .close{
      height: @rem*50;
      width: @rem*50;
      margin:@rem*142 auto 0;
      transform: translateY(1000px);
      transition: transform 0.3s ease-out;
      background: url(../image/close.png) no-repeat ;
      background-size: contain;
    }
  }
  &.show{
    .close{
      transform: translateY(0);
    }
  }
}


@keyframes clickAnimation {
  from {height: @rem*80; width: @rem*80; top: 68%; left: 62%;}
  to {height: @rem*120; width: @rem*120; top: 63%; left: 58%;}
}
@-webkit-keyframes clickAnimation {
  from {height: @rem*80; width: @rem*80; top: 68%; left: 62%;}
  to {height: @rem*120; width: @rem*120; top: 63%; left: 58%;}
}
@-moz-keyframes clickAnimation {
  from {height: @rem*80; width: @rem*80; top: 68%; left: 62%;}
  to {height: @rem*120; width: @rem*120; top: 63%; left: 58%;}
}
@-ms-keyframes clickAnimation {
  from {height: @rem*80; width: @rem*80; top: 68%; left: 62%;}
  to {height: @rem*120; width: @rem*120; top: 63%; left: 58%;}
}
@-o-keyframes clickAnimation {
  from {height: @rem*80; width: @rem*80; top: 68%; left: 62%;}
  to {height: @rem*120; width: @rem*120; top: 63%; left: 58%;}
}

