@charset "UTF-8";
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
}
img {
  border: 0;
  display: block;
}
html {
  position: relative;
  height: 100%;
  width: 100%;
  /*font-size:62.5%;*/
  -webkit-tap-highlight-color: transparent;
}
input,
label {
  outline-style: none;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: PingFangSC-Regular, Microsoft YaHei;
  color: #000;
  margin: 0;
  padding: 0;
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  /*早期浏览器*/
  user-select: none;
}
ul,
li {
  list-style: none;
}
button {
  border: 0;
  background: transparent;
  outline: none;
}
a {
  text-decoration: none;
}
.slide-in-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.slide-in-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.slide-in-top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.slide-in-bottom {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.slide-in-top-fade {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}
.slide-in-bottom-fade {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}
.fade-in {
  opacity: 0;
}
.current .slide-in-left,
.current .slide-in-right {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.current .fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
.current .slide-in-top,
.current .slide-in-bottom {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.current .slide-in-top-fade,
.current .slide-in-bottom-fade {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.8s ease,-webkit-transform 0.8s ease;
  transition: opacity 0.8s ease,-webkit-transform 0.8s ease;
  transition: transform 0.8s ease,opacity 0.8s ease;
  transition: transform 0.8s ease,opacity 0.8s ease,-webkit-transform 0.8s ease;
}
.delay-1 {
  -webkit-transition-delay: 0.8s!important;
          transition-delay: 0.8s!important;
}
.delay-2 {
  -webkit-transition-delay: 1.2s!important;
          transition-delay: 1.2s!important;
}
.delay-3 {
  -webkit-transition-delay: 1.6s!important;
          transition-delay: 1.6s!important;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 750px;
  }
}
body {
  overflow: hidden;
}
.loading-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f3f4e5;
  z-index: 101;
}
.loading-page-box {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.loading-page .sprite {
  background: url(../images/loading-page/sprite.png);
  background-size: 23.4375rem 63.125rem;
}
.loading-page .earth {
  width: 12.40625rem;
  height: 13.84375rem;
  background-position: 0rem -46.65625rem;
  -webkit-animation: rotate 4.8s ease infinite;
          animation: rotate 4.8s ease infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.loading-page .earth-box {
  width: 12.40625rem;
  height: 7.8125rem;
  overflow: hidden;
  position: relative;
}
.loading-page .mask {
  background-position: 0rem -60.1875rem;
  width: 12.40625rem;
  height: 2.96875rem;
  position: absolute;
  bottom: -0.125rem;
  padding: 0 0.0625rem;
  left: -0.0625rem;
}
.loading-page .number-box {
  position: absolute;
  bottom: 0.71875rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  white-space: nowrap;
}
.loading-page .number {
  display: inline-block;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}
.loading-page .number.number-sign {
  background-position: -12.90625rem -54.4375rem;
  width: 2.1875rem;
  height: 2.625rem;
}
.loading-page .number.number-0 {
  background-position: -15.34375rem -54.4375rem;
  width: 1.75rem;
  height: 2.53125rem;
}
.loading-page .number.number-1 {
  background-position: -17.75rem -54.4375rem;
  width: 1.0625rem;
  height: 2.5625rem;
}
.loading-page .number.number-2 {
  background-position: -19.09375rem -54.4375rem;
  width: 1.78125rem;
  height: 2.53125rem;
}
.loading-page .number.number-3 {
  background-position: -21.15625rem -54.4375rem;
  width: 1.8125rem;
  height: 2.53125rem;
}
.loading-page .number.number-4 {
  background-position: -17.75rem -54.4375rem;
  width: 1.0625rem;
  height: 2.5625rem;
}
.loading-page .number.number-5 {
  background-position: -19.1875rem -51.78125rem;
  width: 1.78125rem;
  height: 2.53125rem;
}
.loading-page .number.number-6 {
  background-position: -21.15625rem -51.78125rem;
  width: 1.71875rem;
  height: 2.53125rem;
}
.loading-page .number.number-7 {
  background-position: -13.28125rem -51.78125rem;
  width: 1.84375rem;
  height: 2.53125rem;
}
.loading-page .number.number-8 {
  background-position: -15.34375rem -51.78125rem;
  width: 1.75rem;
  height: 2.53125rem;
}
.loading-page .number.number-9 {
  background-position: -17.21875rem -51.78125rem;
  width: 1.75rem;
  height: 2.53125rem;
}
.loading-page .role {
  width: 23.4375rem;
  height: 15.46875rem;
  position: absolute;
  margin-top: -9.53125rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0) scale(0.5);
          transform: translate(-50%, 0) scale(0.5);
  background-position: 0rem -31.21875rem;
  -webkit-animation: run 400ms steps(3) infinite;
          animation: run 400ms steps(3) infinite;
  -webkit-animation-timing-function: step-start;
          animation-timing-function: step-start;
}
.pages {
  background: url(../images/bg.jpg);
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}
.page {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  word-wrap: break-word;
  white-space: initial;
  color: #1a628b;
  font-size: 1rem;
}
.page.leavel {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}
.page1 {
  background-image: url(../images/page1/bg.jpg);
  background-repeat: repeat;
}
.page1 .title1,
.page1 .title2,
.page1 .title3 {
  margin: 0 auto;
}
.page1 .title1 {
  width: 18.25rem;
  height: 5.8125rem;
  margin-top: 2.1875rem;
}
.page1 .title2 {
  width: 18.25rem;
  height: 5.8125rem;
  margin-top: -0.6875rem;
}
.page1 .title3 {
  margin-top: -0.625rem;
  width: 13.375rem;
  height: 0.875rem;
}
.page1 .play {
  width: 13.1875rem;
  height: 3.65625rem;
}
.page1 img {
  max-width: 100%;
}
.page1 .fence {
  position: absolute;
  z-index: 6;
  bottom: 5.625rem;
  width: 23.4375rem;
}
.page1 .tree {
  position: absolute;
  z-index: 7;
  bottom: 4.6875rem;
  width: 23.4375rem;
  height: 13.1875rem;
}
.page1 .play {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-top: 0.9375rem;
  margin-left: -6.59375rem;
}
.page1 .role {
  position: absolute;
  z-index: 9;
  bottom: 1.5625rem;
  left: 6.25rem;
  width: 15.78125rem;
  height: 9.1875rem;
}
.page1 .river {
  position: absolute;
  bottom: 0;
  width: 23.4375rem;
  height: 6.25rem;
}
.page2 {
  padding: 2.375rem 1.5625rem;
}
.page2 .right-tree,
.page2 .left-tree {
  position: absolute;
  bottom: 0;
}
.page2 .right-tree {
  width: 18.5rem;
  height: 12.3125rem;
  right: 0.3125rem;
}
.page2 .left-tree {
  width: 13.625rem;
  height: 15.28125rem;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.page2 .role {
  width: 15.15625rem;
  height: 13.71875rem;
  position: absolute;
  bottom: 12.0625rem;
  right: 1.46875rem;
}
.page2.current .left-tree,
.page2.current .right-tree {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}
.page2.current .talk,
.page2.current .role {
  opacity: 1;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}
.page3 {
  background-image: url(../images/page3/bg.jpg);
  background-repeat: repeat;
  background-size: 1.3125rem;
  padding-top: 1.34375rem;
}
.page3 .talk {
  padding: 1.5625rem 1.375rem;
}
.page3 .role1 {
  width: 23.4375rem;
  height: 8.71875rem;
}
.page3 .role2 {
  width: 23.4375rem;
  height: 11.90625rem;
}
.page4 {
  background-image: url(../images/page4/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: 2.03125rem 1.25rem;
  text-shadow: 1px 1px 12px #000000;
  color: #fff;
}
.page4 .moon {
  width: 2.34375rem;
  height: 2.3125rem;
  position: absolute;
  top: 5.625rem;
  right: 2.5rem;
}
.page4 .rail {
  position: absolute;
  top: 13.5rem;
  right: 0rem;
  width: 23.4375rem;
  height: 4.15625rem;
}
.page4 .right-tree {
  position: absolute;
  top: 8.75rem;
  right: 0rem;
  width: 11.09375rem;
  height: 5.03125rem;
}
.page4 .left-tree {
  position: absolute;
  left: 0;
  top: 8.75rem;
  width: 8.6875rem;
  height: 5rem;
}
.page4 .lawn {
  width: 23.4375rem;
  height: 8.625rem;
  position: absolute;
  top: 17rem;
  right: 0rem;
}
.page4 .role {
  position: absolute;
  top: 20.5rem;
  right: 0rem;
  width: 23.4375rem;
  height: 12.875rem;
}
.page5 {
  background: url(../images/page5/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: #f2f2e4;
  text-shadow: 1px 1px 12px #000000;
  padding: 2.03125rem 1.5rem;
}
.page5 .talk {
  position: relative;
  z-index: 10;
}
.page5 .bg-tree {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 19.03125rem;
  height: 24.59375rem;
}
.page5 .left-tree {
  position: absolute;
  left: 0.625rem;
  top: -0.625rem;
  width: 6.375rem;
  height: 29.375rem;
  z-index: 9;
}
.page5 .right-tree {
  position: absolute;
  top: -0.625rem;
  right: 3.125rem;
  width: 5.71875rem;
  height: 28.15625rem;
}
.page5 .center-tree {
  position: absolute;
  top: 0rem;
  right: 9.46875rem;
  width: 4.125rem;
  height: 25.3125rem;
}
.page5 .grass1 {
  width: 1.53125rem;
  height: 5.4375rem;
  position: absolute;
  left: 0.46875rem;
  top: 21.25rem;
  z-index: 8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shake 1.8s 2.8s infinite alternate ease-in-out;
          animation: shake 1.8s 2.8s infinite alternate ease-in-out;
}
.page5 .grass2 {
  width: 4.625rem;
  height: 6.5625rem;
  position: absolute;
  left: 4.8125rem;
  top: 20.3125rem;
  z-index: 8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shake 2.6s 3s infinite alternate ease-in-out;
          animation: shake 2.6s 3s infinite alternate ease-in-out;
}
.page5 .grass3 {
  width: 1.875rem;
  height: 5.1875rem;
  position: absolute;
  left: 13.375rem;
  top: 21.96875rem;
  z-index: 8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shake 2s 3.3s infinite alternate ease-in-out;
          animation: shake 2s 3.3s infinite alternate ease-in-out;
}
.page5 .role {
  width: 19.6875rem;
  height: 10.34375rem;
  position: absolute;
  top: 25.9375rem;
  right: 1.875rem;
}
.page6 {
  background: url(../images/page6/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.page6 .stone {
  position: absolute;
  top: 3.75rem;
  right: 0rem;
  width: 19.09375rem;
  height: 29.15625rem;
}
.page6 .tree2 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 5.5rem;
  height: 7.25rem;
}
.page6 .tree1 {
  position: absolute;
  top: 0rem;
  right: 7.5rem;
  width: 5.96875rem;
  height: 20.21875rem;
}
.page6 .small-stone {
  position: absolute;
  top: 19.625rem;
  left: 1.65625rem;
  width: 5.59375rem;
  height: 4.78125rem;
  z-index: 9;
}
.page6 .grass {
  position: absolute;
  top: 16.875rem;
  right: 13.40625rem;
  width: 3.53125rem;
  height: 6.9375rem;
  z-index: 8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shake 2.8s 1.8s infinite alternate ease-in-out;
          animation: shake 2.8s 1.8s infinite alternate ease-in-out;
}
.page6 .grass2 {
  position: absolute;
  top: 20.0625rem;
  right: 20.25rem;
  width: 4.375rem;
  height: 4.25rem;
  z-index: 8;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: shake 2.2s 1.8s infinite alternate ease-in-out;
          animation: shake 2.2s 1.8s infinite alternate ease-in-out;
}
.page6 .sheep {
  width: 12.4375rem;
  height: 9.21875rem;
  position: absolute;
  top: 15rem;
  right: 0rem;
}
.page6 .pig {
  width: 7.03125rem;
  height: 5.34375rem;
  position: absolute;
  top: 25.125rem;
  right: 16.875rem;
}
.page-tools {
  background: rgba(0, 95, 148, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  padding: 1.09375rem;
  display: none;
}
.page-tools button {
  background: url(../images/left.png);
  width: 2.15625rem;
  height: 1.875rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.page-tools .pre-page {
  margin-top: 0.125rem;
}
.page-tools .next-page {
  width: 2.28125rem;
  background-image: url(../images/right.png);
  float: right;
}
.play-button {
  background-image: url(../images/play_btn.png);
  width: 2.9375rem;
  height: 2.96875rem;
  background-size: contain;
  margin-top: 0.6875rem;
}
.play-button.play-white-btn {
  background-image: url(../images/play_white_btn.png);
}
.layer {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.moon-shake {
  -webkit-animation: shake 2.2s 1.8s infinite alternate ease-in-out;
          animation: shake 2.2s 1.8s infinite alternate ease-in-out;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  66% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  66% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes run {
  0% {
    background-position: 0rem -31.21875rem;
  }
  33.333% {
    background-position: 0rem -15.8125rem;
  }
  100% {
    background-position: 0rem 0rem;
  }
}
@keyframes run {
  0% {
    background-position: 0rem -31.21875rem;
  }
  33.333% {
    background-position: 0rem -15.8125rem;
  }
  100% {
    background-position: 0rem 0rem;
  }
}
