@import "common";

@uiBtnColor: #52C162;
@uiBtnShadowColor: #34A444;
@_mainColor: rgba(58, 186, 77, .8), rgba(38, 158, 161, .8), rgba(98, 54, 255, .8), rgba(0, 145, 255, .8);
@couponImg: url('../images/aier_coupon.png'), url('../images/aier_coupon1.png'), url('../images/aier_coupon1.png'), url('../images/aier_coupon1.png');
@_uiBtnColor: #52C162, #269EA1, #6236FF, #0091FF;
@submitSuccessImg: url('../images/aier_submit_success.png'), url('../images/aier_submit_success1.png'), url('../images/aier_submit_success2.png'), url('../images/aier_submit_success3.png');

.loop(@n, @i:1) when (@i <= @n) {
  .page_@{i} {
    background-color: extract(@_mainColor, @i) !important;
    .success-coupon{
      background: extract(@couponImg, @i);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .success-submit{
      background: extract(@submitSuccessImg, @i);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    .ui-radio{
      border: @rem*5 solid extract(@_uiBtnColor, @i);
      box-shadow: 0 @rem*5 0 0 extract(@_uiBtnColor, @i);
      color: extract(@_uiBtnColor, @i);
    }
  }
  .loop(@n, (@i + 1));
}
.loop(4);

body{

}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/aier_success_bg.png') no-repeat;
  background-size: 100%;
}

.success-label {
  text-align: center;
  font-size: @rem*50;
  color: #F9F9F9;
  margin: @rem*160 0 @rem*451;
}

.aier-participation {
  width: 100%;
  height: @rem*541;
  background: url('../images/aier_doctor.png') no-repeat;
  background-position: left;
  background-size: @rem*225 @rem*541;
  margin-top: @rem*128;
  margin-left: @rem*50;

  .activity-desc {
    height: @rem*127;
    width: @rem*420;
    background: #ffffff;
    border-radius: @rem*35;
    top: @rem*60;
    margin: @rem*0 @rem*72 0 @rem*184;
    position: relative;
    padding: @rem*42 @rem*70 @rem*9 @rem*129;
    font-size: @rem*28;
    line-height: @rem*40;
    color: rgba(0, 0, 0, .85);
    .desc-title{
      margin-bottom: @rem*45;
    }

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      border-left: @rem*30 solid transparent;
      border-right: @rem*30 solid transparent;
      border-bottom: @rem*60 solid #ffffff;
      transform: rotateZ(30deg);
      left: -@rem*20;
      top: @rem*10;
    }
  }
}

.share-button{
  width: @rem*420;
  margin: @rem*0 0 0 @rem*180;
  position: relative;
  top: @rem*100;
  text-align: center;
}

.ui-btn{
  background: none;
  border: none;
}

.ui-radio{
  width: @rem*450;
  height: @rem*94;
  background: #ffffff;
  border: @rem*5 solid @uiBtnColor;
  box-shadow: 0 @rem*5 0 0 @uiBtnShadowColor;
  color: @uiBtnColor;
  border-radius: @rem*65;
  margin: @rem*20 0 @rem*20;
}

.success-coupon {
  background: url("../images/aier_coupon.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: @rem*535;
  height: @rem*238;
  margin: 0 auto;
  position: relative;

  &:after {
    position: absolute;
    height: @rem*128;
    width: @rem*125;
    background: url('../images/aier_star.png') no-repeat;
    background-size: 100% 100%;
    content: ' ';
    top: -@rem*90;
    right: -@rem*80
  }
}

.success-submit {
  background: url("../images/aier_submit_success.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: @rem*158;
  height: @rem*158;
  margin: -@rem*400 auto @rem*190 auto;
  position: relative;

  &:after {
    position: absolute;
    height: @rem*128;
    width: @rem*125;
    background: url('../images/aier_star.png') no-repeat;
    background-size: 100% 100%;
    content: ' ';
    top: -@rem*160;
    right: -@rem*256;
  }
}

.f-modal{
  &-wrap{
    position: fixed;
    background: rgba(0,0,0,.6);
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    z-index: 90;
    display: none;
  }
  position: absolute;
  z-index: 91;
  box-shadow: 0 @rem*2 @rem*4 rgba(0,0,0,.4);
  width: @rem*650;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background: #fff;
  border-radius: @rem*10;
  overflow: hidden;
  max-height: 90%;
  &-hd{
    padding:@rem*33 @rem*40;
    font-size: @rem*40;
    font-weight: bold;
    &_close{
      width:@rem*30;
      height: @rem*30;
      background:url(../images/aier_close.png) no-repeat;
      background-size:contain;
      outline: none;
      border:none;
      position:absolute;
      right:@rem*25;
      top:@rem*25;
    }
  }
  &-bd{
    padding:@rem*10 @rem*40 @rem*50;
  }
  &-ft{

  }
}

.share-modal{
  .example-img{
    width: 100%;
    display: block;
  }
  .f-modal-ft{
    padding:@rem*20;
  }
  .btn{
    width:100%;
    color:#fff;
    background-color: #953535;
    border-radius:@rem*10;
    line-height: @rem*80;
    padding:0;
    height:@rem*80;
    text-align: center;
    display: block;
    font-size: @rem*30;
  }
}




