@import "./_reset.less";
@import "./effeckt.less";

@rem: 1rem/32;

@media screen and (max-width: 1200px) {
  .container {
    width: 750px;
  }
}

///// mixin ////
.size(@width, @height: @width) {
  width: @rem * @width;
  height: @rem * @height;
}

.position(@top, @right: 0, @val: absolute) {
  position: @val;
  top: @rem * @top;
  right: @rem * @right;
}

.position2(@top, @left: 0, @val: absolute) {
  position: @val;
  top: @rem * @top;
  left: @rem * @left;
}

.bgPosition(@x: 0, @y: 0) {
  background-position: @rem*@x @rem*@y;
}

.padding(@top, @right) {
  padding: @rem*@top @rem*@right;
}

/// mixin  //////
body {
  overflow: hidden;
}

.loading-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f3f4e5;
  z-index: 101;
  &-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .sprite {
    //background: url(../images/loading-page/sprite.png);
    background-size: @rem*750 @rem*2020;
  }
  .earth {
    .size(397, 443);
    .bgPosition(0, -1493);
    &-box {
      .size(397, 250);
      overflow: hidden;
      position: relative;
    }
    animation: rotate 4.8s ease infinite;
    animation-timing-function: linear;
    backface-visibility:hidden;
    transform-style: preserve-3d;
    transform:translate3d(0, 0, 0);
  }
  .mask {
    .bgPosition(0, -1926);
    .size(397, 95);
    position: absolute;
    bottom: @rem*-4;
    padding: 0 @rem*2;
    left: @rem*-2;
  }
  .number-box {
    position: absolute;
    bottom: @rem*23;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
  }
  .number {
    display: inline-block;
    transform: scale(.7);
    &.number-sign {
      .bgPosition(-413, -1742);
      .size(70, 84);
    }
    &.number-0 {
      .bgPosition(-491, -1742);
      .size(56, 81);
    }
    &.number-1 {
      .bgPosition(-568, -1742);
      .size(34, 82);
    }
    &.number-2 {
      .bgPosition(-611, -1742);
      .size(57, 81);
    }
    &.number-3 {
      .bgPosition(-677, -1742);
      .size(58, 81);
    }
    &.number-4 {
      .bgPosition(-432, -1577);
      .size(65, 76);
    }
    &.number-5 {
      .bgPosition(-614, -1657);
      .size(57, 81);
    }
    &.number-6 {
      .bgPosition(-677, -1657);
      .size(55, 81);
    }
    &.number-7 {
      .bgPosition(-425, -1657);
      .size(59, 81);
    }
    &.number-8 {
      .bgPosition(-491, -1657);
      .size(56, 81);
    }
    &.number-9 {
      .bgPosition(-551, -1657);
      .size(56, 81);
    }
  }
  .role {
    .size(750, 495);
    position: absolute;
    margin-top: @rem*-275;
    z-index: 4;
    left: 50%;
    margin-left: @rem*-10;
    transform: translate(-50%, 0) scale(.5);
    .bgPosition(0, -999);
    animation: run 400ms steps(3) infinite;
    animation-timing-function: step-start;
    backface-visibility: hidden;
  }
}

.pages {
  background: url(../images/bg.jpg);
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  display: flex;
}

.page {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  // top: 0;
  // left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all 0.6s ease;
  word-wrap: break-word;
  white-space: initial;
  color: #1a628b;
  font-size: @rem*32; // transform: translateX(100%); 
  // opacity: 0;
  // &.current{
  //   opacity: 1;
  //   transform: translateX(0); 
  // }
  &.leavel {
    transform: translateX(-100%);
    opacity: 0;
  } // &.before-entry{
  //   transform: translateX(100%); 
  //   opacity: 0;
  // }
}

.page1 {
  background-image: url(../images/page1/bg.jpg);
  background-repeat: repeat;
  .header {
    position: absolute;
    .size(750, 205)
  }
  .title1,
  .title2,
  .title3 {
    margin: 0 auto;
  }
  .title1 {
    .size(584, 186);
    margin-top: @rem*90;
  }
  .title2 {
    .size(584, 186);
    margin-top: @rem*-22;
  }
  .title3 {
    margin-top: @rem*-10;
    .size(428, 28)
  }
  .play {
    .size(422, 117)
  }
  img {
    max-width: 100%;
  }
  .facula{
    .position2(50,45);
    .size(791,575)
  }
  .fence {
    position: absolute;
    z-index: 6;
    bottom: @rem*180;
    width: @rem*750;
  }
  .tree {
    position: absolute;
    z-index: 8;
    bottom: @rem*150;
    .size(750, 422);
  }
  .play {
    position: absolute;
    z-index: 10;
    left: 50%;
    margin-top: @rem*30;
    margin-left: -@rem*211;
  }
  .role {
    position: absolute;
    z-index: 9;
    bottom: @rem*50;
    left: @rem*200;
    .size(505, 294);
  }
  .river {
    position: absolute;
    bottom: 0;
    .size(750, 200);
  }
  .flower{
    .size(48,71);
    position: absolute;
    left:@rem*98;
    bottom: @rem*175;
    z-index: 7;
  }
}

.page2 {
  padding: @rem*76 @rem*50;
  .header {
    position: absolute;
    left: 0;
    top: 0;
    .size(750, 205)
  }
  .talk {
    position: relative;
    z-index: 3;
  }
  .right-tree,
  .left-tree {
    position: absolute;
    bottom: 0;
  }
  .right-tree {
    .size(592, 394);
    right: 0;
  }
  .left-tree {
    .size(436, 489);
    left: 0;
  }
  .role {
    .size(485, 439);
    position: absolute;
    bottom: @rem*386;
    right: @rem*47;
  }
  .fruits{
    position: absolute;
    bottom:0;
    right: 0;
    .size(592, 394);
    .pear {
      .size(49.5, 76.5);
      background: url(../images/page2/pear.png);
      background-size: contain;
      display: block;
      background-position: top;
      &:nth-child(2) {
        .position(116, 0);
      }
      &:nth-child(3) {
        .position(180, 92);
      }
      &:nth-child(4) {
        .position(234, 20);
      }
      &:nth-child(5) {
        .position(224, 280);
      }
      &:nth-child(6) {
        .position(80, 20);
      }
    }
  }
}

.page3 {
  background-image: url(../images/page3/bg.jpg);
  background-repeat: repeat;
  background-size: @rem*42;
  padding-top: @rem*43;
  .header {
    position: absolute;
    left: 0;
    top: 0;
    .size(750, 205)
  }
  .talk {
    padding: @rem*50 @rem*44;
  }
  .role1 {
    .size(750, 279);
  }
  .role2 {
    .size(750, 381);
  }
  .talk-dialog-hold1 {
    .position(0, 100);
    display: block;
  }
  .talk-dialog-hold2 {
    .position2(80, 50);
  }
  .talk-dialog-talk1 {
    .position(-250, 60);
  }
  .talk-dialog-talk2 {
    .position2(-120, 0);
  }
  .talk-dialog-talk1.talk-dialog-small {
    .position(-85, 60);
  }
  .talk-dialog-talk2.talk-dialog-small {
    .position(60, 100);
  }
}

.page4 {
  background-image: url(../images/page4/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  padding: @rem*65 @rem*40;
  text-shadow: 1px 1px 12px #000000;
  color: #fff;
  .moon {
    .size(75*2, 74*2);
    .position(118, 119);
  }
  .rail {
    .position(432, 0);
    .size(750, 133);
  }
  .right-tree {
    .position(280, 0);
    .size(355, 161);
  }
  .left-tree {
    position: absolute;
    left: 0;
    top: @rem*280;
    .size(278, 160);
  }
  .lawn {
    .size(750, 276);
    .position(544, 0)
  }
  .role {
    .position(656, 0);
    .size(750, 412);
  }
  .talk-dialog-hold1 {
    .position(640, 500);
    display: block;
  }
  .talk-dialog-hold2 {
    .position2(680, 500);
  }
  .talk-dialog-talk1 {
    .position(400, 220);
    text-shadow: none;
  }
  .talk-dialog-talk2 {
    .position2(520, 320);
    text-shadow: none;
  }
  .talk-dialog-line3 {
    line-height: 1.5;
    padding-top: @rem*80;
    box-sizing: border-box;
  }
  .talk-dialog-line2{
    line-height: 1.5;
    padding-top: @rem*120;
    box-sizing: border-box;
  }
  .talk-dialog-talk2.talk-dialog-small{
    .position2(680, 500);
  }
  .talk-dialog-talk1.talk-dialog-small{
    .position(640, 500);
  }
}

.page5 {
  background: url(../images/page5/bg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  color: #f2f2e4;
  background-size: 100% 100%;
  text-shadow: 1px 1px 12px #000000;
  padding: @rem*65 @rem*48;
  .talk {
    position: relative;
    z-index: 10;
  }
  .bg-tree {
    .position(0, 0);
    .size(609, 787);
    z-index: 2;
  }
  .left-tree {
    position: absolute;
    left: @rem*20;
    top: @rem*-20;
    .size(204, 940);
    z-index: 9;
  }
  .right-tree {
    .position(-20, 100);
    .size(183, 901);
    z-index: 2;
  }
  .center-tree {
    .position(0, 303);
    .size(132, 810);
    z-index: 2;
  }
  .grass1 {
    .size(49, 174);
    position: absolute;
    left: @rem*15;
    top: @rem*680;
    z-index: 8;
    transform-origin: bottom;
    animation: shake 1.8s 4.8s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .lawn {
    .size(750, 425);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .grass2 {
    .size(148, 210);
    .position2(655, 154);
    z-index: 8;
    transform-origin: bottom;
    animation: shake 2.6s 5s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .grass3 {
    .size(60, 166);
    position: absolute;
    left: @rem*428;
    top: @rem*703;
    z-index: 8;
    transform-origin: bottom;
    animation: shake 2s 4.3s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .grass4{
   .size(83,94);
   .position(530,55); 
   z-index: 1;
   transform-origin: bottom;
   animation: shake 2s 4.3s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .role {
    .size(630, 331);
    .position(780, 60);
    z-index: 3;
  }
}

.page6 {
  // background: url(../images/page6/bg.jpg);
  // background-position: bottom;
  // background-repeat: no-repeat;
  // background-size: cover;
  .bg{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
  }
  .stone {
    .position(120, 0);
    .size(611, 933);
  }
  .tree2 {
    .position(0, 0);
    .size(172, 396);
  }
  .tree1 {
    .position(0, 240);
    .size(191,647);
  }
  .small-stone {
    position: absolute;
    top: @rem*628;
    left: @rem*53;
    .size(179, 153);
    z-index: 9;
  }
  .grass {
    .position(540, 429);
    .size(113, 222);
    z-index: 8;
    transform-origin: bottom;
    animation: shake 2.8s 1.8s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .grass2 {
    .position(642, 648);
    .size(140, 136);
    z-index: 8;
    transform-origin: bottom;
    animation: shake 2.2s 1.8s infinite alternate ease-in-out;
    backface-visibility: hidden;
  }
  .sheep {
    .size(413, 285);
    .position(480, 0);
  }
  .pig {
    .size(298, 175);
    .position(804, 540);
  }

  .talk-dialog-hold1 {
    .position(416, 120);
  }
  .talk-dialog-hold2 {
    .position2(736, 0);
    display: block;
  }
  .talk-dialog-talk1 {
    .position(210, 0);
    text-shadow: none;
  }
  .talk-dialog-talk2 {
    .position2(552, 0);
    text-shadow: none;
  }
  .talk-dialog-line2 {
    line-height: 1.4;
    padding-top: @rem*80;
    box-sizing: border-box;
  }
  .talk-dialog-line3 {
    line-height: 1.5;
    padding-top: @rem*80;
    box-sizing: border-box;
  }
}

.page7 {
  .red-sky {
    .size(750, 413);
  }
  .star {
    .size(750, 445); //.position(,0);
    position: absolute;
    bottom: @rem*120;
    left: 0;
  }
  .talk {
    font-size: @rem*32;
    padding: 0 @rem*42;
    position: absolute;
    left: 0;
    top: 50%;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #fff, 0 0 70px #fff;;
    transform: translateY(-50%);
    z-index: 4;
  }
  .cloud {
    .position(70);
    .size(523, 490);
  }
  .cloud-sheep {
    .size(270, 148);
    .position(34, 160);
  }
  .pig {
    .size(364, 251);
    .position2(176, 40);
  }
  .sheep {
    .size(340, 421);
    .position(721, -130);
  }
  .starping {
    .size(432, 328);
    .position(723, 280);
    z-index: 2;
  }
}

.page8 {
  padding-top: @rem*40;
  .talk {
    .padding(20, 36);
  }
  .pig {
    .size(429, 445);
    display: block;
    margin: 0 auto
  }
  .sheep {
    .size(484, 327);
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-30%);
  }
  .talk-dialog-hold1 {
    .position(708, 240);
  }
  .talk-dialog-hold2 {
    .position2(226, 350);
    display: block;
  }
  .talk-dialog-talk1 {
    .position(556, 50);
    text-shadow: none;
  }
  .talk-dialog-talk2 {
    .position2(48, 192);
    text-shadow: none;
  }
  .talk-dialog-line2 {
    line-height: 1.4;
    padding-top: @rem*80;
    box-sizing: border-box;
  }
}

.page9 {
  background: #f4f4df;
  .talk {
    .padding(86, 33);
    padding-bottom: 0;
  }
  .mask {
    .size(750, 120);
    .position(-2, 0);
    z-index: 4;
  }
  .orchard {
    position: relative;
  }
  .tree {
    .size(750, 363)
  }
  .role {
    .size(744, 388);
    display: block;
    margin: 0 auto;
  }
  .apple {
    .size(31, 41);
    background: url(../images/page9/apple.png);
    background-size: contain;
    display: block;
    background-position: top;
  }
  .pear {
    .size(33, 51);
    background: url(../images/page9/pear.png);
    background-size: contain;
    display: block;
    background-position: top;
  }
  .fruits {
    .apple {
      &:nth-child(2) {
        .position2(225, 0);
      }
      &:nth-child(3) {
        .position2(130, 115);
      }
      &:nth-child(4) {
        .position2(170, 200);
      }
      &:nth-child(5) {
        .position2(56, 160);
      }
      &:nth-child(6) {
        .position2(100, 54);
      }
    }
    .pear {
      &:nth-child(6) {
        .position2(80, 550);
      }
      &:nth-child(7) {
        .position2(158, 626);
      }
      &:nth-child(8) {
        .position2(148, 680);
      }
      &:nth-child(9) {
        .position2(177, 707);
      }
      &:nth-child(10) {
        .position2(30, 650);
      }
      &:nth-child(11) {
        .position2(80, 566);
      }
    }
  }
  .talk-dialog-hold1 {
    .position(658, 470);
  }
  .talk-dialog-hold2 {
    .position2(754, 544);
    display: block;
  }
  .talk-dialog-talk1 {
    .position(504, 192);
    text-shadow: none;
  }
  .talk-dialog-talk2 {
    .position2(556, 308);
    text-shadow: none;
  }
  .talk-dialog-line2 {
    line-height: 1.5;
    padding-top: @rem*70;
    box-sizing: border-box;
  }
}

.page10 {
  //background-image: url(../images/page10/bg.png);
  //background-size: 100%;
  .bg{
    width: 100%;
    position: absolute;
    top:0;
    left:0;
  }
  .moon {
    .size(107, 95);
    position: absolute;
    left: 50%;
    margin-left: @rem*-107/2;
    top: @rem*66;
  }
  .mountain {
    .size(339, 562);
    .position(438, 0);
  }
  .sheep {
    .position(554, 0);
    .size(216, 260);
  }
  .pig {
    .size(221, 141);
    .position2(877, 40);
  }
  .talk {
    color: #fff;
    .padding(190, 46);
    position: absolute;
  }
  .talk-dialog-hold1 {
    .position(480, 56);
  }
  .talk-dialog-hold2 {
    .position2(764, 100);
    display: block;
  }
  .talk-dialog-talk1 {
    .position(332, 0);
    text-shadow: none;
  }
  .talk-dialog-talk2 {
    .position2(580, 0);
    text-shadow: none;
  }
  .talk-dialog-line2 {
    line-height: 1.4;
    padding-top: @rem*80;
    box-sizing: border-box;
  }
}

.page11 {
  background: url(../images/end.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-tools {
  background: rgba(0, 95, 148, .8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: @rem*120;
  box-sizing: border-box;
  z-index: 100;
  padding: @rem*35;
  display: none;
  button {
    background: url(../images/left.png);
    width: @rem*69;
    height: @rem*60;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .pre-page {
    margin-top: @rem*4;
  }
  .next-page {
    width: @rem*73;
    background-image: url(../images/right.png);
    float: right;
  }
}

.play-button {
  background-image: url(../images/play_btn.png);
  .size(94, 95);
  background-size: contain;
  margin-top: @rem*22;
  &.play-white-btn {
    background-image: url(../images/play_white_btn.png);
  }
  &:active{
    opacity: .6;
  }
}

.layer {
  transition: all 0.1s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.talk-dialog,
.talk-dialog2 {
  background: url(../images/dialog1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
  z-index: 10;
  display: none;
}

.talk-dialog2 {
  background-image: url(../images/dialog2.png);
}

.talk-normal {
  .size(500, 298);
  line-height: 9.3rem;
  text-align: center;
}

.moon-shake {
  animation: shake 2.2s 1.8s infinite alternate ease-in-out;
  backface-visibility: hidden;
}

.ellipsis {
  width: @rem*120;
  height: @rem*80;
  display: inline-block;
  text-align: center;
  line-height: @rem*80;
  white-space: nowrap;
  span {
    display: inline-block;
    border-radius: 50%;
    background: #157959;
    width: @rem*16;
    height: @rem*16;
    margin-left: @rem*5;
    &:nth-child(1) {
      animation: twinkle 1s ease infinite;
      backface-visibility: hidden;
    }
    &:nth-child(2) {
      animation: twinkle 1s ease 1s infinite;
      backface-visibility: hidden;
    }
    &:nth-child(3) {
      animation: twinkle 1s ease 2s infinite;
      backface-visibility: hidden;
    }
  }
}

.talk-dialog-hold1 {
  .size(175, 115);
  text-align: center;
  line-height: @rem*115;
  z-index: 10;
}

.talk-dialog-hold2 {
  .size(175, 115);
  text-align: center;
  line-height: @rem*115;
  z-index: 10;
  .ellipsis {
    &>span {
      background: #d24e0e;
    }
  }
}

.talk-dialog-talk1 {
  color: #157959;
}

.talk-dialog-talk2 {
  color: #d24e0e;
  padding-left: @rem*20;
  box-sizing: border-box;
}

.talk-dialog-small {
  .size(250, 130);
  line-height: @rem*130;
}

.talk-dialog-middle{
  .size(380, 230);
  line-height: @rem*230;
}

.cross-screen{
  display: none;
  .position(0,0);
  bottom: 0;
  left: 0;
  background: #52a32b;
  z-index: 1000;
  color:#fff;
  text-align: center;
  font-size: 30px;
  img{
    .size(245/2,234/2);
    width: 245px;
    height: 234px;
    margin-bottom: 30px;
    animation: tilt 2.8s ease infinite;
  }
  .wrap{
    width: 245px;
    height: 234px;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes run {
  0% {
    .bgPosition(0, -999);
  }
  33.333% {
    .bgPosition(0, -506);
  }
  100% {
    .bgPosition(0, 0);
  }
}

@keyframes twinkle {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@keyframes tilt {
  0% {
        transform: rotate(0);
  }
  33.333% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0);
  }
}



