* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  overflow: auto;
}
swiper-slide1111 {
  overflow: auto;
}
.music-audio {
  display: none;
}
.page_01 {
  width: 23.4375rem;
  height: 100%;
  margin: 0 auto;
  background: url("../image/page01/page01_bg.png") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.page_01 .txt {
  width: 100%;
  height: 9.375rem;
  text-align: center;
  position: absolute;
  top: 2.96875rem;
  left: 0;
}
.page_01 .txt img {
  width: 100%;
}
.page_01 .button {
  width: 9.96875rem;
  height: 2.375rem;
  position: absolute;
  bottom: 8.03125rem;
  left: 50%;
  margin-left: -4.984375rem;
}
.page_01 .button img {
  display: block;
  height: 100%;
  width: 100%;
}
.page_01 .red_cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;
  height: 6.0625rem;
  width: 23.4375rem;
}
.page_01 .red_cloud img {
  width: 100%;
}
.page_01 .white_cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  height: 4.0625rem;
  width: 23.4375rem;
}
.page_01 .white_cloud img {
  width: 100%;
}
.page_03 {
  width: 23.4375rem;
  height: 100%;
  background: url("../image/page03/03_bg.jpg") no-repeat center center;
  background-size: 100% 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.page_03 .light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100%;
  width: 100%;
}
.page_03 .light img {
  height: 100%;
  width: 100%;
}
.page_03 .new_year {
  position: absolute;
  left: 0;
  top: 5rem;
  height: 6.65625rem;
  width: 23.4375rem;
  z-index: 99;
}
.page_03 .new_year img {
  height: 100%;
  width: 100%;
}
.page_03 .desc {
  width: 23.4375rem;
  height: 23.78125rem;
  position: absolute;
  top: 6.25rem;
  left: 0;
  z-index: 98;
}
.page_03 .desc img {
  width: 100%;
}
.page_03 .page_03_txt {
  width: 23.4375rem;
  height: 4.21875rem;
  position: absolute;
  left: 0;
  bottom: 8.4375rem;
  z-index: 99;
  text-align: center;
  font-weight: bold;
  color: #E5BE77;
  font-size: 0.8125rem;
}
.page_03 .page_03_txt p {
  line-height: 1.09375rem;
  letter-spacing: 0.0625rem;
}
.page_03 .button {
  opacity: 0;
  width: 12.5rem;
  height: 4.6875rem;
  position: absolute;
  bottom: 1.875rem;
  left: 5.46875rem;
  z-index: 99;
}
.dia-log {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.dia-log img {
  width: 100%;
}
.dia-log .jt {
  width: 23.4375rem;
  height: 7.34375rem;
}
.dia-log .dia_log_txt {
  width: 23.4375rem;
  height: 4.21875rem;
}
