* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
img {
  display: block;
  border: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #eacea9;
}
.common-logo {
  height: 2.1875rem;
  width: 8.75rem;
  display: block;
  border: none;
  margin-top: 0.9375rem;
  margin-left: 0.71875rem;
}
.common-content-log {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.common-page {
  height: 100%;
  width: 23.4375rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.common-page .common-title {
  width: 23.4375rem;
  overflow: hidden;
  margin-top: 2.5rem;
}
.common-page .common-title p {
  padding: 0 1.15625rem;
  font-size: 1.5625rem;
  line-height: 2.09375rem;
  font-weight: bold;
  color: #AF0566;
  letter-spacing: 0.09375rem;
}
.common-page .common-title img {
  width: 100%;
}
.common-page .common-line {
  height: 1.96875rem;
  width: 23.4375rem;
  margin: 0.46875rem auto;
}
.common-page .common-line img {
  width: 100%;
}
.common-page .common-desc {
  width: 23.4375rem;
  overflow: hidden;
}
.common-page .common-desc p {
  padding: 0 1.15625rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #96673D;
  letter-spacing: 0.09375rem;
}
.common-page .common-desc img {
  width: 100%;
}
.page_01 {
  background: url("../image/page_01/01_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_01 .small_plane {
  height: 1.5rem;
  width: 7.90625rem;
  position: absolute;
  right: 3.75rem;
  top: 5.3125rem;
}
.page_01 .small_plane img {
  width: 100%;
}
.page_01 .txt {
  height: 18.75rem;
  width: 23.4375rem;
  margin: 0 auto;
  margin-top: -0.9375rem;
}
.page_01 .txt img {
  width: 100%;
}
.page_01 .big_plane {
  position: absolute;
  height: 0.03125rem;
  width: 0.03125rem;
  top: 28.125rem;
  left: 21.875rem;
  overflow: hidden;
  opacity: 0;
  -webkit-animation: bigPlaneAnimation 2s 1 2s;
          animation: bigPlaneAnimation 2s 1 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.page_01 .big_plane img {
  height: 100%;
}
.page_01 .button {
  display: block;
  height: 3.09375rem;
  width: 12.5rem;
  position: absolute;
  left: 50%;
  bottom: 4.0625rem;
  margin-left: -6.25rem;
}
.page_01 .button img {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
}
.page_02 {
  background: url("../image/page_02/02_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_03 {
  background: url("../image/page_03/03_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_03 .page_03_title {
  margin-top: 20.03125rem;
  text-align: right;
}
.page_03 .page_03_desc {
  text-align: right;
}
.page_04 {
  background: url("../image/page_04/04_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_04 .page_04_title {
  margin-top: 21.875rem;
}
.page_05 {
  background: url("../image/page_05/05_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_05 .page_05_title {
  margin-top: 3.75rem;
}
.page_06 {
  background: url("../image/page_06/06_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_06 .page_06_title {
  margin-top: 3.125rem;
}
.page_07 {
  background: url("../image/page_07/07_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_07 .page_07_title {
  margin-top: 3.125rem;
  text-align: right;
}
.page_07 .page_07_desc {
  text-align: right;
}
.page_08 {
  background: url("../image/page_08/08_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_08 .page_08_title {
  margin-top: 3.125rem;
}
.page_09 {
  background: url("../image/page_09/09_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_09 .page_09_title {
  text-align: right;
}
.page_09 .page_09_desc {
  text-align: right;
}
.page_10 {
  background: url("../image/page_10/10_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_11 {
  background: url("../image/page_11/11_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_11 .page_11_title {
  text-align: right;
  margin-top: 18.75rem;
}
.page_11 .page_11_desc {
  text-align: right;
}
.page_12 {
  background: url("../image/page_12/12_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
}
.page_12 .page_12_title {
  text-align: right;
}
.page_12 .page_12_desc {
  text-align: right;
}
.page_13 {
  overflow: hidden;
  width: 23.4375rem;
  background: url("../image/page_13/bottom_bg.png") repeat-y center center;
  background-size: 100% 100%;
}
.page_13 .top {
  width: 23.4375rem;
  height: 10.65625rem;
  background: url("../image/page_13/top.gif") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
}
.page_13 .top .page_13_title {
  width: 23.4375rem;
  height: 5.8125rem;
  margin-top: 0.625rem;
}
.page_13 .top .page_13_title img {
  width: 100%;
}
.page_13 .content {
  width: 23.4375rem;
  height: 12.96875rem;
  background: url("../image/page_13/content.gif") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}
.page_13 .content .video-content {
  height: 11.25rem;
  width: 19.9375rem;
  position: absolute;
  top: 0.875rem;
  left: 1.75rem;
  overflow: hidden;
  z-index: 99;
  background: #fff;
}
.page_13 .content .video-content .video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page_13 .content .play-button {
  width: 2.625rem;
  height: 2.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 99;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.page_13 .bottom {
  width: 23.4375rem;
  height: 15.625rem;
  background: url("../image/page_13/bottom.jpg") no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
}
.page_14 {
  background: url("../image/page_14/14_bg.jpg") no-repeat center center;
  background-size: 23.4375rem 100%;
  position: relative;
}
.page_14 .page_14_title {
  width: 23.4375rem;
  height: 6.3125rem;
  margin-top: 6.25rem;
}
.page_14 .page_14_title img {
  width: 100%;
}
.page_14 .button {
  width: 10.625rem;
  height: 3.0625rem;
  position: absolute;
  left: 50%;
  top: 18.125rem;
  margin-left: -5.3125rem;
}
.page_14 .button img {
  width: 100%;
}
.page_14 .small_plane {
  height: 1.5rem;
  width: 7.90625rem;
  position: absolute;
  top: 7.5rem;
  right: 2.5rem;
}
.page_14 .small_plane img {
  width: 100%;
}
.dia-log {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.dia-log img {
  width: 100%;
}
.dia-log .jt {
  width: 23.4375rem;
  height: 7.34375rem;
  margin-top: 0.625rem;
}
@-webkit-keyframes bigPlaneAnimation {
  0% {
    height: 0;
    width: 0;
    top: 28.125rem;
    left: 21.875rem;
  }
  100% {
    height: 18.75rem;
    width: 23.4375rem;
    top: 9.375rem;
    left: 0;
    display: block;
    opacity: 1;
  }
}
@keyframes bigPlaneAnimation {
  0% {
    height: 0;
    width: 0;
    top: 28.125rem;
    left: 21.875rem;
  }
  100% {
    height: 18.75rem;
    width: 23.4375rem;
    top: 9.375rem;
    left: 0;
    display: block;
    opacity: 1;
  }
}
